<a href="https://colab.research.google.com/github/HaRiSh337D/Harish/blob/main/hari1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
a={'Name':['harish','suresh','kiran','umasai'],'company':['datalabs','tcs','wipro','hsbc'],'salary':[20000,50000,56000,58000]}
b=pd.DataFrame(a)
print(b)

     Name   company  salary
0  harish  datalabs   20000
1  suresh       tcs   50000
2   kiran     wipro   56000
3  umasai      hsbc   58000

In [7]:
b['salary'].mean()

46000.0

In [8]:
b['salary'].median()

53000.0

In [9]:
b['salary'].mode()

0    20000
1    50000
2    56000
3    58000
Name: salary, dtype: int64