<a href="https://colab.research.google.com/github/HaRiSh337D/Harish/blob/main/hari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
a={"NAME":['harish','praveen','arun'],"marks":[85,86,87]}
b=pd.DataFrame(a)
print(b)

      NAME  marks
0   harish     85
1  praveen     86
2     arun     87